.Ranking .controls {
    justify-content: center;
    align-items: flex-end;
}

.Ranking .info {
    font-family: 'Shadows Into Light', cursive !important;
    border: 1px solid darkgray;
}

.controls > * {
    margin-left: 35px;
}
